
# Java/Maven
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# Build output
target/
build/
out/


# IDEs
.idea/
.vscode/
*.iml
.classpath
.project
.settings/

# OS files
.DS_Store
Thumbs.db

# Others
*.log
*.swp
*.swo
node_modules/